{% extends 'denouement/base.html' %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger unrounded-alert" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="card col-md-12 col-lg-5 offset-lg-0" style="height: 25%;">
                <img class="card-img-top" src= {{"/media/"|add:selected_user.username|add:".jpg" }} alt="Card image cap">
                
                
                <div class="card-body">
                    <h5 class="card-title">{{ selected_user.username }}</h5>
                    <p class="card-text">{{ selected_user.groups.all.0 }}</p>
                </div>
                {% if forms.image_form %}
                    <form method="post" enctype="multipart/form-data" action="/forums/account/upload/">
                        {% csrf_token %}
                        <div class="custom-file col-sm-12 col-md-12">
                            <input type="file" class="custom-file-input" id="customFile" name="image">
                            <label class="custom-file-label" for="customFile">Upload image</label>
                        </div>
                        <input type="submit" class="btn btn-outline-primary title-button login-button col-md-4 col-12" value="Upload">
                        <label class="custom-file">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                        </label>
                    </form>
                {% endif %}
            </div>
            <div class="comment-box col-sm-12 col-md-12 col-lg-5 offset-lg-0">
                {% for comment in comments %}
                    <div class="row comment-row">
                        <div class="col-2">
                            <img class="sm-profile-picture" src= {{"/media/"|add:comment.author.username|add:".jpg" }} alt="Card image cap">
                        </div>
                        
                        <div class="col-10" style="width: 20%; text-align: left;">
                            <a href="/forums/user/{{ comment.author }}">{{ comment.author }}</a>
                            <br>
                            {{ comment.text }}
                            <br>
                            {{ comment.date }}
                            {% if user == selected_user %}
                                <ul class="post-moderation">
                                    <button onclick="moderationModal('delete', '{{ comment.profile_owner }}/comment/{{ comment.id }}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
                                    Delete
                                    </button>
                                </ul>
                            {% endif %}
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Post Moderation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            This action could be irreversible!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a type="button" class="btn btn-danger">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if forms.comment_form %}
                    <form method="POST" action="/forums/user/{{ selected_user }}/">
                        {% csrf_token %}
                        {{ forms.comment_form }}
                        <input type="submit" value="POST" style="margin-top: 10px;" class="col-md-2 offset-md-0 offset-2 col-8 btn btn-outline-success title-button">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}