{% extends 'denouement/base.html' %}

{% block content %}
    <div class="container category-list">
        <h1 class="list-title">{{ parent_name }}</h1>
        {% for post in posts %}
            <div class="row align-items-center no-margin master-row">
                <div class="col-md-2 col-12 thread-user-card text-center align-self-start">
                    {% with "/media/"|add:post.author.username|add:".jpg" as picture_url %}
                        <img class="md-profile-picture mx-auto" src="{{ picture_url }}" alt="">
                    {% endwith %}

                    <h6>{{ post.author }}</h6>
                    <br>
                    <h6>GROUP PLACEHOLDER</h6>
                </div>
                
                <div class="col-12 col-md-10 align-self-start">
                    <p>{{ post.text }}</p>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        {% endfor %}

        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="POST" style="margin-top: 10px;" class="col-md-2 offset-md-0 offset-2 col-8 btn btn-outline-success title-button">
            </form>
        {% endif %}
    </div>
{% endblock %}