{% extends 'denouement/base.html' %}

{% block content %}
    <div class="container category-list">
        <h1 class="list-title">{{ parent_name }}</h1>
        {% for thread in threads %}
            <div class="row align-items-center no-margin master-row">
                <div class="col-12 col-md-8 no-padding">
                    {% with "/media/"|add:thread.author.username|add:".jpg" as picture_url %}
                        <img class="sm-profile-picture" src="{{ picture_url }}" alt="">
                    {% endwith %}
                    <div class="col-sm-12 col-md-9 no-padding">
                        <a href="/forums/thread/{{ thread.id }}"><h4>{{ thread.title }}</h4></a>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 no-padding">
                        <h6>AUTHOR PLACEHOLDER | DATE PLACEHOLDER</h6>
                    </div>
                </div> 

                <div class="d-none d-md-block offset-md-2 col-md-2">
                    <h6 class="no-margin">LATEST POST PLACEHOLDER</h6>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
