{% extends 'denouement/base.html' %}

{% block content %}
    <div class="container category-list">
        {% for post in posts %}
            <h1>{{ post.thread.title }}</h1>
                <div class="row category-container align-items-center">
                    <div class="col-12 col-sm-2" style="background-color: #6e55ba;">
                        {% with "/media/"|add:post.author.username|add:".jpg" as picture_url %}
                                <img style="width:100px; height: 100px; border-radius: 100%;" class="card-img-top" src="{{ picture_url }}" alt="Card image cap">
                                <p>{{ post.author.username }}</p>
                        {% endwith %}
                    </div>  

                    <div class="col-12 col-sm-10">
                        <h4>{{ post.text }}</h4>
                    </div> 
                </div>
        {% endfor %}
    </div>
{% endblock %}