.navbar {
    background-color: #7d5fff;
}

body {
    font-family: 'Montserrat';
    background-color: #130f40;
    color: white;
    word-wrap: break-word;
}

#top_container {
    margin-top: 20%;
}

#title {
    font-weight: 800;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

.title-button {
    margin-bottom: 2%;
}

.login-button {
    margin-top: 2%;
}

#login-form {
    margin-top: 15%;
}

.unrounded-alert {
    border-radius: 0;
}

#id_image {
    color: red;
}

.category-list {
    margin-top: 5%;
}

.list-segment {
    padding: 0;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.master-row {
    margin-bottom: 1%;
}

.list-title {
    margin-bottom: 2%;
}

.sm-profile-picture {
    width:50px; 
    height: 50px; 
    margin-right: 10px;
    border-radius: 100%; 
    float: left;
}

.md-profile-picture {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.thread-user-card {
    padding: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.post-moderation {
    list-style: none;
    float: right;
}

.post-moderation li {
    float: right;
    padding-right: 6px;
}

h6 {
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

